@tailwind base;
@tailwind components;
@tailwind utilities;

.toast-enter {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s, transform 0.3s;
}

.toast-enter-active {
  opacity: 1;
  transform: translateY(0);
}

.toast-exit {
  opacity: 1;
}

.toast-exit-active {
  opacity: 0;
  transition: opacity 0.3s;
}
